button {
    display: inline-block;
    margin: 0.5vw;
    padding: 1vh 2vw 1vh 2vw;
    font-size: 1.8em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 2vh;
    box-shadow: 0 9px #191;
    height: 8vh;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #060;
    transform: translateY(4px);
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2vh;
}

#slider {
    padding: 0;
    margin: 0;
}

#slider > input {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
    border-radius: 2vh;
    width: 100%;
}

#slider > h2 {
    text-shadow: rgba(0, 0, 0, 0.7) 2px 2px;
    color: white;
}
